files:
{{ files|to_nice_yaml(indent=2) }}

{% if hostname %}
hostname: {{ hostname }}
{% endif %}

{% if new_file_check_interval %}
new_file_check_interval: "{{ new_file_check_interval }}"
{% endif %}

{% if exclude_files %}
exclude_files:
  {% for file in exclude_files %}
  - {{ file }}
  {% endfor -%}
{% endif %}

{% if exclude_patterns %}
exclude_patterns:
  {% for pattern in exclude_patterns %}
  - {{ pattern }}
  {% endfor -%}
{% endif %}

{% if facility -%}
facility: {{ facility }}
{% endif %}

{% if severity %}
severity: {{ severity }}
{% endif %}

destination:
  host: {{ destination_host }}
  port: {{ destination_port }}
  protocol: {{ destination_protocol }}
